# Base16 {{scheme-name}}
# Author: {{scheme-author}}
# Template Author: gnsfujiwara (https://github.com/gnsfujiwara)

idle_fg = "#{{base04-hex}}"
info_fg = "#{{base04-hex}}"
good_fg = "#{{base0B-hex}}"
warning_fg = "#{{base0A-hex}}"
critical_fg = "#{{base08-hex}}"
