# Base16 {{scheme-name}} (powerline)
# Author: {{scheme-author}}
# Template Author: gnsfujiwara (https://github.com/gnsfujiwara)

idle_bg = "#{{base01-hex}}"
idle_fg = "#{{base05-hex}}"
info_bg = "#{{base0D-hex}}"
info_fg = "#{{base00-hex}}"
good_bg = "#{{base0B-hex}}"
good_fg = "#{{base00-hex}}"
warning_bg = "#{{base0A-hex}}"
warning_fg = "#{{base00-hex}}"
critical_bg = "#{{base08-hex}}"
critical_fg = "#{{base00-hex}}"
separator = "\ue0b2"
separator_bg = "auto"
separator_fg = "auto"
